* { 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.rowProducts{
	width: 100%;
	height: 27%;
	margin: 0px auto;
	padding-left: 13%;
}

.products {
width: 30%;
height: 40px;/*
background-color: yellow;*/
float: left;
margin-right: 20px;
margin-bottom: 2px;
margin-top: 4px;
font-weight: bold;
padding:8px 10px;;
}
.carousl{
	background-color:  #ECBF0F;
	height: 300px;
	padding-top: 50px;
}

.icons{
	height: 30px;
}
.icons2{
	height: 25px;
}